
DataAnalysis/Week 6/.ipynb_checkpoints/House_Sales_in_King_Count_USA-20231003-1696291200.jupyterlite-checkpoint.ipynb
DataAnalysis/Week 6/.ipynb_checkpoints/House_Sales_in_King_Count_USA-checkpoint.ipynb
DataAnalysis/Week 6/House_Sales_in_King_Count_USA.ipynb
DataAnalysis/Week 6/practice_project-20230929-1695945600.ipynb
DataAnalysis/Week 6/House_Sales_in_King_Count_USA-20231003-1696291200.jupyterlite.ipynb
DataAnalysis/Final Project Screenshots/Q1.png
DataAnalysis/Final Project Screenshots/Q10.png
DataAnalysis/Final Project Screenshots/Q2.png
DataAnalysis/Final Project Screenshots/Q3.png
DataAnalysis/Final Project Screenshots/Q4.png
DataAnalysis/Final Project Screenshots/Q5.png
DataAnalysis/Final Project Screenshots/Q6.png
DataAnalysis/Final Project Screenshots/Q7.png
DataAnalysis/Final Project Screenshots/Q8.png
DataAnalysis/Final Project Screenshots/Q9.png
